body {
    background: linear-gradient(to right, #1E6F6F, #000000 50%, #1E6F6F);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.whoweare_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    font-weight: 700;
    padding: 30px;
    font-size: 5vh;
    color: white;
}


.outline_box {
    position: relative;
    height: 75vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.outline_box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
    color: white;
    position: relative;
    margin: 0;
    z-index: 1;
    height: 70vh;
    width: 70vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 2.5vh;
    box-sizing: border-box;
}
.content-sm {
    font-size: 1.3vh;
    padding: 0.5vh;
    overflow: hidden;
    height: 80%;
    width: 70vw;
    box-sizing: border-box;
    text-align: justify;
}

/*********** Media Queries *************/

@media (min-width: 300px) and (max-width: 310px) {
    .head {
        font-size: 2.5vh;
    }
    .outline_box {
        height: 35vh;
        width: 90vw;
    }
    .content {
        font-size: 2vh;
        height: 90%;
        width: 35vh;
    }
}

@media (min-width: 310px) and (max-width: 320px) {
    .head {
        font-size: 2.7vh;
    }
    .outline_box {
        height: 36vh;
        width: 89vw;
    }
    .content {
        font-size: 2vh;
        height: 91%;
        width: 36vh;
    }
}

@media (min-width: 320px) and (max-width: 330px) {
    .head {
        font-size: 2.9vh;
    }
    .outline_box {
        height: 37vh;
        width: 89vw;
    }
    .content {
        font-size: 2vh;
        height: 92%;
        width: 37vh;
    }
}

@media (min-width: 330px) and (max-width: 340px) {
    .head {
        font-size: 3vh;
    }
    .outline_box {
        height: 38vh;
        width: 89vw;
    }
    .content {
        font-size: 2.2vh;
        height: 93%;
        width: 38vh;
    }
}

@media (min-width: 340px) and (max-width: 350px) {
    .head {
        font-size: 3.2vh;
    }
    .outline_box {
        height: 39vh;
        width: 89vw;
    }
    .content {
        font-size: 2.2vh;
        height: 94%;
        width: 39vh;
    }
}

@media (min-width: 350px) and (max-width: 360px) {
    .head {
        font-size: 3.4vh;
    }
    .outline_box {
        height: 40vh;
        width: 85vw;
    }
    .content {
        font-size: 2.3vh;
        height: 95%;
        width: 40vh;
    }
}

@media (min-width: 360px) and (max-width: 370px) {
    .head {
        font-size: 3.6vh;
    }
    .outline_box {
        height: 41vh;
        width: 86vw;
    }
    .content {
        font-size: 2.4vh;
        height: 96%;
        width: 41vh;
    }
}

@media (min-width: 370px) and (max-width: 380px) {
    .head {
        font-size: 3.8vh;
    }
    .outline_box {
        height: 42vh;
        width: 87vw;
    }
    .content {
        font-size: 2.5vh;
        height: 97%;
        width: 42vh;
    }
}

@media (min-width: 380px) and (max-width: 390px) {
    .head {
        font-size: 4vh;
    }
    .outline_box {
        height: 43vh;
        width: 88vw;
    }
    .content {
        font-size: 2.6vh;
        height: 98%;
        width: 43vh;
    }
}

@media (min-width: 390px) and (max-width: 400px) {
    .head {
        font-size: 4.2vh;
    }
    .outline_box {
        height: 50vh;
        width: 96vw;
    }
    .content {
        font-size: 2.8vh;
        height: 99%;
        width: 50vh;
    }
}

@media (min-width: 400px) and (max-width: 410px) {
    .head {
        font-size: 4.4vh;
    }
    .outline_box {
        height: 50vh;
        width: 95vw;
    }
    .content {
        font-size: 2.8vh;
        height: 100%;
        width: 50vh;
    }
}

@media (min-width: 410px) and (max-width: 420px) {
    .head {
        font-size: 4.6vh;
    }
    .outline_box {
        height: 50vh;
        width: 91vw;
    }
    .content {
        font-size: 2.8vh;
        height: 101%;
        width: 50vh;
    }
}

@media (min-width: 420px) and (max-width: 430px) {
    .head {
        font-size: 4.8vh;
    }
    .outline_box {
        height: 50vh;
        width: 92vw;
    }
    .content {
        font-size: 2.8vh;
        height: 102%;
        width: 50vh;
    }
}

@media (min-width: 430px) and (max-width: 440px) {
    .head {
        font-size: 5vh;
    }
    .outline_box {
        height: 53vh;
        width: 93vw;
    }
    .content {
        font-size: 3vh;
        height: 103%;
        width: 50vh;
    }
}

@media (min-width: 440px) and (max-width: 450px) {
    .head {
        font-size: 5.2vh;
    }
    .outline_box {
        height: 53vh;
        width: 94vw;
    }
    .content {
        font-size: 3vh;
        height: 104%;
        width: 52vh;
    }
}

@media (min-width: 450px) and (max-width: 460px) {
    .head {
        font-size: 5.4vh;
    }
    .outline_box {
        height: 55vh;
        width: 95vw;
    }
    .content {
        font-size: 3vh;
        height: 105%;
        width: 55vh;
    }
}

@media (min-width: 460px) and (max-width: 470px) {
    .head {
        font-size: 5.6vh;
    }
    .outline_box {
        height: 60vh;
        width: 98vw;
    }
    .content {
        font-size: 3.5vh;
        height: 106%;
        width: 60vh;
    }
}

@media (min-width: 470px) and (max-width: 480px) {
    .head {
        font-size: 5.8vh;
    }
    .outline_box {
        height: 60vh;
        width: 99vw;
    }
    .content {
        font-size: 3.5vh;
        height: 107%;
        width: 60vh;
    }
}

@media (min-width: 480px) and (max-width: 490px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 62vh;
        width: 98vw;
    }
    .content {
        font-size: 2.2vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 460px) and (max-width: 479px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 52vh;
        width: 98vw;
    }
    .content {
        font-size: 2.2vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 429px) and (max-width: 439px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 48vh;
        width: 98vw;
    }
    .content {
        font-size: 2.2vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 410px) and (max-width: 421px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 48vh;
        width: 98vw;
    }
    .content {
        font-size: 2.8vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 390px) and (max-width: 406px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 48vh;
        width: 98vw;
    }
    .content {
        font-size: 2.4vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 358px) and (max-width: 489px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 48vh;
        width: 98vw;
    }
    .content {
        font-size: 2.4vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 435px) and (max-width: 521px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 65vh;
        width: 98vw;
    }
    .content {
        font-size: 2.2vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 375px) and (max-width: 375px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 55vh;
        width: 98vw;
    }
    .content {
        font-size: 2.4vh;
        height: 108%;
        width: 60vh;
    }
}

@media (min-width: 350px) and (max-width: 357px) {
    .head {
        font-size: 6vh;
    }
    .outline_box {
        height: 55vh;
        width: 100vw;
    }
    .content {
        font-size: 2.4vh;
        height: 108%;
        width: 60vh;

    }
}

@media (min-width: 950px) and (max-width: 1000px) {
    .head {
        font-size: 2.5vh;
    }
    .outline_box {
        height: 35vh;
        width: 90vw;
    }
    .content {
        font-size: 2.5vw;
        height: 90%;
        width: 35vh;

    }
}