body{
    background: linear-gradient(to right, #1E6F6F, #000000 50%, #1E6F6F);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .whoweare_content{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .head{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3vh;
      padding: 30px;
      font-size: 5vh;
      color: white;
  }
  .outline_box {
      position: relative;
      height: 75vh;
      width: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box; 
      text-align: center;
      overflow: hidden;
  }
  .outline_box img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover; 
      z-index: -1; 
    }
  .content{
      color: white;
      position: relative;
      margin: 0;
      z-index: 1; 
      height: 70vh; 
      width: 70vh; 
      overflow: auto; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify; 
      font-size: 2.5vh;
      box-sizing: border-box;
  }


  /* Media Queries */

@media (min-width: 320px) and (max-width: 480px) {
    body {
        background: linear-gradient(to right, #1E6F6F, #000000 50%, #1E6F6F);
    }
    .head {
        font-size: 3vh;
        padding: 10px;
        margin-top: 1vh;
    }
    .outline_box {
        height: 40vh; 
        width: 90vw;
        padding: 5px; 
        box-sizing: border-box;
        overflow: hidden;
    }
    .outline_box img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .content {
        font-size: 1.4vh; 
        padding: 0.5vh; 
        overflow: hidden;
        height: 90%;
        width: 40vh; 
        box-sizing: border-box;
        text-align: justify;
    }
}

