.countdown-container {
    background: transparent;
    color: white;
    text-align: center;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
  }
  
  .countdown-timer {
    font-size: 2vh;
    display: flex;
    justify-content: center;
  }
  
  .timer-unit {
    margin: 0 4px;
  }
  
  .timer-label {
    color: white;
    font-size: 20px;
  }

  .abc{
   height: 2vw; 
  }

  .timer-digits {
    /* background-color: #56CAD1;  */
    background: linear-gradient(to bottom, #5ba2ba, #183d4b);
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 2rem;
    margin: 2px; 
    display: inline-block;
    justify-content: center;
    align-items: center; 
    padding-bottom: 55px;
    height: 2vw;
  }

  .setting{
    display: flex;
  }
  
  @media (max-width: 600px) {
    .countdown-container {
      padding: 15px;
      font-size: 14px;
    }
  }

  @media (max-width: 360px){
    .timer-digits{
      width: 3.5vh;
      height: 5.5vh;
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center; 
    }
    .timer-digits {
      font-size: 1.5rem;
    }
  }
  
