body {
    background: linear-gradient(to right, #1E6F6F, #000000 50%, #1E6F6F);
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.Domain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    padding: 30px;
    font-size: 48px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.card {
    position: relative;
    background-color: #000000;
    border: 3px solid #747070;
    border-radius: 35px;
    width: 427px;
    height: 536px;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-image {
    width: auto;
    height: 80%;
    object-fit: contain;
    position: relative;
    z-index: 0;
}

.card-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.button {
    position: absolute;
    bottom: 16px;
    transform: translateX(-50%);
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #747070;
    border-radius: 45px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    width: 267px;
    height: 60px;
}

.content {
    font-size: 28px;
    text-align: left;
    margin: 1%;
}

#non-technical-card {
    font-size: 25px;
}

#technical-card{
    font-size: 27px;
}

#creatives-card {
    margin: 3%;
}

@media (max-width: 800px) {
    .cards {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .card {
        width: 320px;
        height: 390px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .card-content {
        padding: 10px;
        font-size: 36px;
    }

    .content {
        font-size: 20px;
        text-align: start;
    }

    #non-technical-card {
        font-size: 18px;
    }

    #technical-card {
        font-size: 19px;
    }

    .card-title {
        font-size: 36px;
    }

    .button {
        width: 80%;
        height: 50px;
        font-size: 18px;
    }

    .Domain {
        font-size: 48px;
    }

    .card-image {
        width: auto;
        height: auto;
        object-fit: cover;
        position: relative;
        z-index: 0;
    }
}