.main {
    background: linear-gradient(to right, #1E6F6F, #000000 50%, #1E6F6F);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.heading h1{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 5vh;
}

.sections{
    display: flex;
    justify-content:space-between;
    width: 80vw;
    align-items: center;
    padding: 7px 10px;
    font-size: larger;
    background-color: #000000;
    border: 3px solid #423F3F;
}

@media (min-width: 950px) and (max-width: 1000px) {
    .heading h1{
        font-size: 6vw;
    }
}
.sections:hover{
    background-color: #131212;
}

.sections p{
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: #000000;
    padding: 50px;
}

.answers{
    display: flex;
    display: none;
    padding: 7px 10px;
    color: aliceblue;
    background-color: #292727;
    width: 80vw;
    border: 2px solid #423F3F;
    animation: disp 1s ease-in-out;
}

@keyframes disp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.sections button {
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0.2em 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: #000000;
    cursor: pointer;
    /* transition: border-color 0.25s; */
  }
